@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.ttf") format("tff");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #fff 0%,
    #fff 50%,
    rgb(59, 224, 202, 0.5),
    rgb(59, 224, 202, 1)
  );
  font-family: "Poppins", sans-serif;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  transition: 0.5s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  display: flex;
  transition: 0.5s;
}

.navigation input:checked ~ .menu {
  width: 400px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.6s;
}

.menu li a:hover {
  color: rgb(228, 38, 142);
}

.navigation input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.navigation span {
}

.navigation span {
  position: absolute;
  left: 26px;
  width: 32px;
  height: 4px;
  background: #666;
  pointer-events: none;
  transition: 0.5s;
}

.navigation input:checked ~ span {
  background: #f974a1;
}

.navigation span:nth-child(2) {
  transform: translateY(-8px);
}

.navigation input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(45deg);
}

.navigation span:nth-child(3) {
  transform: translateY(8px);
}

.navigation input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
